.half.film
  .film-scroll.scroll
    .scrollContent
      each section, x in sections.film
        include section
      include ../shared/contactPage
  .next-icon.next
    label.scrollIndicator Scroll
    i.ion-chevron-down
