extends ../webLayout
block content
  include ../shared/nav
  .contentContainer
    include ../shared/contactModal
    include ../shared/header
    include ../shared/bg
    include main
    .next-icon.next
      i.ion-chevron-down
