.main.scrollContainer
  .scrollContent
    .half.web
      each section, x in sections.web
        section.section.clearfix(class=section.slug)
          include openingPage
          each page, y in section.pages
            .page.clearfix.snap
              .row
                .column.small-12.large-8.large-push-4
                  if page.desktops
                    include desktops
                  if page.mobiles
                    include mobilesH
                  if page.posters
                    include posters
                .column.small-12.large-4.large-pull-8
                  .cards
                    .infoBox
                      if page.icon
                        .icon
                          i(class=page.icon)
                      each card in page.cards
                        p #{card}
          include ../shared/contactPage
    .half.film
