.page.intro
  .circle
    .rotation
      .heads
        .initials 
          span.nameL.name L&nbsp;
          span.nameW.name W
      .tails
        .introCircle.introBubble
          .introCircle2
            h1 #{section.title}
            p #{section.summary}
