section.section.callToAction
  .row
    .column.medium-5.small-12
      h1 Available for Photography, Video, Coding &amp; Design Work
      p
        | All I want to do is help artists and small business entrepreneurs succeed.
      p
        | My rates are surprisingly fair, because money does not motivate me.  Freedom does.
      p
        | Communicating is always free. 
        | For more info before you do: check out the 
        a(href="/questions") F.A.Q.
        | &nbsp; read more 
        a(href="/about-me") about me
        | &nbsp; and read what 
        a(href="/testimonials") my clients
        | &nbsp; have to say. 
      a.actionButton.greenButton.resume(href="/docs/LawrenceWhitesideResume2014.rtf") 
        i.ion-printer
        span Printable Resume
      h1 Let's get started!
      p 
        span Phone: 
        span.phone
      p 
        span Email: 
        span.email
    .column.medium-7.small-12
      include contactForms
  .row
    .column.small-12
      p.networks
        span Networks: 
        a(href="https://www.linkedin.com/profile/view?id=18600396", target="_blank") LinkedIn
        span -
        a(href="https://www.behance.net/lawd408", target="_blank") Behance
        span -
        a(href="http://briefjoy.tumblr.com/", target="_blank") Tumblr
        span -
        a(href="http://twitter.com/lawwantsin", target="_blank") Twitter 
        span -
        a(href="http://github.com/lawwantsin", target="_blank") Github 
      p.license
        a(rel="license", href="http://creativecommons.org/licenses/by-nc-sa/4.0/")
          img(alt="Creative Commons License", style="border-width:0", src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png")
        span The code is well-commented and available on 
        a(href="https://github.com/lawwantsin/LawrenceWhiteside.com-node", target="_blank") Github.
        br
        span This site is licensed under a 
        a(rel="license", href="http://creativecommons.org/licenses/by-nc-sa/4.0/") Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License
      p
