.thankYou
  .circle
    .rotation
      .introCircle.introBubble
        .introCircle2
          h1 Thanks for the message
          p I usually respond within 24 hours.
.contactForm.form
  h1 #{heading || "Contact Me."}
  form(action="/contact", method="POST")
    .input
      textarea(name="message", placeholder="What's your project?")
    .input
      input(name="name", type="text", placeholder="Your Name")
    .input
      input(name="email", type="email", placeholder="E-Mail Address")
    .buttons.row.collapse
      .column.small-9
        .paymentMade
          .paymentInfo
            .ccard
            .amount
              span $
              span.amountNum 100 
            .last4
              span ...
              span.last4Num 2323
            .cancelPayment
          .paymentFinePrint
            span Send a message to confirm payment. 
            a.removePayment(href="#") Remove Payment
        .payment.actionButton.greenButton.left(tabindex="-1") 
          i.ion-card
          span Add Payment
      .column.small-3
        button.send.actionButton.greenButton.right Send
.paymentForm.form
  h1 Pay Me.
  form(action="/payment", method="POST")
    .row.collapse
      .column.small-12
        .input
          input.amount(name="amount", type="text", placeholder="Amount", 'data-stripe'='amount', value="")
        .input
          input(name="number", type="text", placeholder="Credit Card Number", 'data-stripe'='number', value="")
    .row.collapse
      .column.small-12
        .input.cc-small.clearfix
          input.left(name="exp-month", size="2", placeholder="MM", 'data-stripe'="exp-month", value="")
          input.left(name="exp-year", size="4", placeholder="YYYY", 'data-stripe'="exp-year", value="")
          input.right(name="csv", placeholder="CVC", size="4", 'data-stripe'="cvc", value="")
    .buttons.row.collapse
      .column.small-12
        button.cancel.actionButton.greenButton.left Cancel
        button.confirm.actionButton.greenButton.right Confirm
