.callToAction
  .row
    .column.large-5.medium-6.small-12
      h1 Available for Photography, Video, Coding &amp; Design Work
      p
        | All I want to do is help artists and small business entrepreneurs succeed.
      p
        | My rates are surprisingly fair, because money does not motivate me.  Freedom does.
      p
        | Communicating is always free. 
        | For more info before you do: check out the 
        a(href="/questions") F.A.Q.
        | &nbsp; read more 
        a(href="/about-me") about me
        | &nbsp; and read what 
        a(href="/testimonials") my clients
        | &nbsp; have to say. 
      hr
      h1 Let's get started!
      p 
        span Phone: 
        span.phone
      p 
        span Email: 
        span.email
    .column.medium-6.offset-large-1.medium-6.small-12
      include contactForms
