a.text-item.clickable(href="/about-me") 
  i.ion-person
  span About Me
a.text-item.clickable(href="/questions") 
  i.ion-help-circled
  span F.A.Q.
a.text-item.clickable(href="/client-testimonials") 
  i.ion-chatbubble-working
  span Testimonials
