.main
	.main-overlay
	.main-stage
		.stage-width
			include name
			.animation
				section#american-detour.slide
					include story
				section#fred-astaire-dance-studios.slide
					include story
	.next-icon
		i.ion-chevron-down
