.mobile-menu.clickable
	i.ion-navicon
.nav.nav-mobile
	.nav-items.list-vertical.web-nav
		a.item.clickable(href="#!web") Back
    each section, x in sectionData.film
  		a.item.clickable(href="/#{section.slug}") #{section.title}
  .nav-items.list-vertical.film-nav
    a.item.clickable(href="#!web") Back Web
    each section, x in sectionData.web
      a.item.clickable(href="/#{section.slug}") #{section.title}
