.mobile-menu.clickable
	i.ion-navicon
.nav.nav-mobile
	.nav-items.list-vertical
		h1 Film for Hire
		a.item.clickable(href="#!american-detour") American Detour
		a.item.clickable(href="#!fred-astair-dance-studios") Fred Astaire Dance Studios
		a.item.clickable(href="#!non-profit-art") Non-Profit Art
		a.item.clickable(href="#!crowd-funding-campaigns") Crowd Funding Campaigns
		a.item.clickable(href="#!fashion-photography") Fashion fashion-photography
		h1 Film For Love
		a.item.clickable(href="#!the-morning-after") The Morning After: Webseries
		a.item.clickable(href="#!google-m-for-murder") Google M For Murder: Short
		a.item.clickable(href="#!ininja") iNinja: Short
		a.item.clickable(href="#!48-hour-films") 48 Hour Film Festivals
		a.item.clickable(href="#!moment") Moment: Short		
		a.item.clickable(href="#!the-secret-goldfish") The Secret Goldfish: Short		
		a.item.clickable(href="#!a-slow-dissolve") A Slow Dissolve: Feature
		a.item.clickable(href="#!a-slow-dissolve")
		h1 The Written Word
		a.item.clickable(href="#!award-winning-shorts") Award Winning Shorts
		a.item.clickable(href="#!award-winning-shorts") Unproduced Shorts
		a.item.clickable(href="#!scripts-from-produced-shorts") Scripts from Produced Shorts
		a.item.clickable(href="#!burn-from-a-fire-within") Burn From a Fire Withing: E-Book
		a.item.clickable(href="#!journal-keeping") Journal Keeping
		h1 Web Architecture
		a.item.clickable(href="#!cinema-set-free") Cinema Set Free
		a.item.clickable(href="#!fantrotter") Fantrotter
		a.item.clickable(href="#!spins-fm") Spins.FM
		a.item.clickable(href="#!head-2-head") Head 2 Head
		a.item.clickable(href="#!eLayaway") eLayaway
		a.item.clickable(href="#!kavi-workspace") KaviWorkspace
		a.item.clickable(href="#!the-labs") The Labs
