.front
  display: block
  opacity: 1
  z-index: 2
  position: absolute
  bottom: 0
  top: 0
  width: 100%
  .film-header-iso
    bottom: 0
    background-color: rgba(0,0,0,0.5)
    overflow: hidden
  .web-header-iso
    top: 0
    background-color: rgba(255,255,255,0.2)    
  .header-iso
    position: absolute
    width: 100%
    overflow: auto
    height: 100%
    opacity: 0
    .frame
      display: block
      color: white
      text-decoration: none
      position: absolute
      width: 33.33333%
      text-decoration: none
      position: relative
      .caption
        font-family: 'Lato'
        font-size: 3em
        text-align: left
        width: 100%
        position: absolute
        bottom: 0
        opacity: 0
        background-color: rgba(0,0,0,0.7)
        padding: 10px
        transition-property: opacity
        transition-duration: 2s
        -webkit-transition-property: opacity        
      &:hover .caption
        opacity: 1
      img
        // position: absolute
        opacity: 1
        // left: 50%
    @media only screen and (max-width: 64.063em)
      .frame
        width: 50%
    @media only screen and (max-width: 40.063em)
      .frame
        width: 100%
    .iContent
      .hexagon
        display: none
