$green = #51c61e
.modal
  background-color: white
  text-align: right
  display: none
  .close-x
    z-index: 1
    font-size: 3em
    line-height: .5em
    position: absolute
    left: 22px
    top: 22px
    cursor: pointer
.form
  h1
    color: $green
    margin: 0
    text-align: right
  .input
    padding: 20px 0
    position: relative
  input, textarea
    outline: none
    padding: 15px
    font-size: 150%
    margin: 0
    background-color: rgba(255,255,255,0.85)
  .error
    background-color: rgba(255,255,120,0.85)
    -webkit-animation-duration: 2s 
    animation-duration: 2s
@media only screen and (min-width: 40.063em)
  .modal
    .payment
      width: 200px
      height: auto
    .send
      height: auto
