// Colors
$green = #51c61e
$green1 = #67ff22
$green2 = #2c923a
$green3 = #2c923a

.mobile-menu
  position: fixed
  width: 50px
  height: 50px
  top: 0px
  left: 0px
  line-height: 50px
  color: $green
  text-align: center
  font-size: 2.3em
  z-index: 3
  opacity: 0
.nav-mobile
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 0
.nav
//  background-image: url('/images/nav-bgs/rain.jpg')
  background-color: #ccc
  background-size: cover
  font-family: 'Krungthep', Helvetica
  .nav-items
    position: absolute
    left: 0
    top: 0
    bottom: 0
    line-height: 0.8em
    font-size: 1em
    width: 350px
    background-color: #222
    .scrollContent
      position: absolute
  h1
    color: rgba(255,255,255,0.7)
    text-decoration: underline
    font-size: 1.2em
  .item
    position: relative
    width: 100%
    display: block
    text-decoration: none
  .text-item
    position: relative
    width: 100%
    line-height: 100px
    padding: 0 30px
    color: white
    text-decoration: none
    display: inline-block
    text-decoration: none
  .caption
    width: 100%
    position: relative
    background-color: black
    line-height: 40px
    color: white
    padding: 0 10px
.nav.web .nav-items.web-nav, .nav.film .nav-items.film-nav, .nav.supl .nav-items.supl-nav
  display: block
