// Colors
$green = #51c61e
$green1 = #67ff22
$green2 = #2c923a
$green3 = #2c923a

.mobile-menu
  position: fixed
  width: 50px
  height: 50px
  top: 0px
  left: 0px
  line-height: 50px
  color: $green
  text-align: center
  font-size: 2.3em
  z-index: 3
  opacity: 0
.nav-mobile
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 0
.nav
  background-image: url('/images/nav-bgs/circuit-bg.jpg')
  background-size: cover
  font-family: 'Krungthep', Helvetica
  .nav-items
    position: absolute
    left: 120px
    top: 260px
    line-height: 0.8em
    -webkit-transform: translate(-50%, -50%)
    -moz-transform: translate(-50%, -50%)
    -o-transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    font-size: 1em
    display: none
  @media only screen and (max-width: 64.063em)
  	.nav-items
      left: 40%
      top: 50% 
  @media only screen and (min-width: 64.063em)
    .nav-items
      left: 200px
      top: 360px
  h1
    color: rgba(255,255,255,0.7)
    text-decoration: underline
    font-size: 1.2em
  a.item
    line-height: 1em
    font-size: 1em
    color: white
    padding: .5em
    margin: 1px 0
    display: block
    text-decoration: none
  a:hover, .selected
    background-color: rgba(255,255,255,0.1)
.nav.web .nav-items.web-nav, .nav.film .nav-items.film-nav, .nav.supl .nav-items.supl-nav
  display: block
