// Colors
$green = #51c61e
$green1 = #67ff22
$green2 = #2c923a
$green3 = #2c923a

.mobile-menu
  position: fixed
  width: 50px
  height: 50px
  top: 0px
  left: 0px
  line-height: 50px
  color: $green
  text-align: center
  font-size: 2.3em
  z-index: 3
  opacity: 0
.nav-mobile
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 0
.nav
  background-image: url('/images/nav-bgs/circuit-bg.jpg')
  background-size: cover
  font-family: 'Krungthep', Helvetica
  .nav-items
    position: absolute
    left: 162px;
    top: 287px;
    line-height: 0.8em
    -webkit-transform: translate(-50%, -50%)
    -moz-transform: translate(-50%, -50%)
    -o-transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    font-size: 1em
    width: 280px
    display: none
  h1
    color: rgba(255,255,255,0.7)
    text-decoration: underline
    font-size: 1.2em
  a.logo
    position: relative
    padding: 5px
    opacity: 1
    background-color: #000
    margin: 5px
    width: 100px
    float: left
.nav.web .nav-items.web-nav, .nav.film .nav-items.film-nav, .nav.supl .nav-items.supl-nav
  display: block
