.spotlight-gradient
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.25) 9%, rgba(0,0,0,0.6) 85%, rgba(0,0,0,0.67) 100%) /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(9%,rgba(255,255,255,0.25)), color-stop(85%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0.67))) /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.25) 9%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.67) 100%) /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.25) 9%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.67) 100%) /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.25) 9%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.67) 100%) /* IE10+ */
  background: radial-gradient(center, ellipse cover,  rgba(255,255,255,0.25) 9%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.67) 100%) /* W3C */
.unselectable
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none
.theme-size
  @extend .unselectable
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 0
.mobile-menu
  position: fixed
  width: 50px
  height: 50px
  top: 0px
  left: 0px
  line-height: 50px
  color: #ccc
  text-align: center
  font-size: 2.3em
  z-index: 3
  opacity: 0
#big-video-vid
  position:absolute
  height:auto
  width:100%
  overflow: hidden
  video 
    min-width: 100%
    min-height: 100%
.site
  background-color: white
 
 @font-face {
  font-family: 'Krungthep';
  src: url('/fonts/krungthep-webfont.eot');
  src: url('/fonts/krungthep-webfont.eot?#iefix') format('eot'),
       url('/fonts/krungthep-webfont.woff') format('woff'),
       url('/fonts/krungthep-webfont.ttf') format('truetype'),
       url('/fonts/krungthep-webfont.svg#webfontB2ikyPY2') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BankGothicMdBTMedium';
  src: url('bankgthd-webfont.eot');
  src: url('bankgthd-webfont.eot?iefix') format('eot'),
       url('bankgthd-webfont.woff') format('woff'),
       url('bankgthd-webfont.ttf') format('truetype'),
       url('bankgthd-webfont.svg#webfontPFvjvtdZ') format('svg');
  font-weight: normal;
  font-style: normal;
}

.threeD
  -webkit-transform-style: preserve-3d   // Important for perspective renders, avoids the flicker
  transform-style: preserve-3d   // Important for perspective renders, avoids the flicker

.bg
  @extend .theme-size
section
  position: relative
  height: 100%
  width: 100%
  bottom: auto
  right: auto
 section#opening
   margin: 100px 0
#theme-color
  @extend .theme-size
  background-color: #ccc    
#theme-style
  @extend .theme-size
  @extend .spotlight-gradient
#theme-image
  @extend .theme-size    
  min-width: 400px
  height: 100%
  z-index: 1
  overflow: hidden
  // :first-child
  //   opacity: 1
  img
    position: absolute
    opacity: 0
    max-width: 100000%
  // background-position: top right // editable
  // background-repeat: no-repeat
  // background-color: black
  // background-size: cover
body.site
  overflow-x: hidden
#theme-video
  @extend .theme-size
  z-index: 2
  .wrapper
    position: absolute
    width: 100%
    height: 100%
    z-index: 100
    background-color: #FFF
  .screen
    position: relative
    height: 100% 
    width: 100%
    float: left
    overflow: hidden
  .big-image
    min-width: 100%
    min-height: 100% 
    height: auto
    width: auto
  .video-title
    position: absolute
    bottom: 5%
    left: 5%
    opacity: .5
    margin: 0
    padding: 0
    line-height: .65
    font-size: 4em
    text-transform: uppercase
  nav
    position: absolute 
    right: 5% 
    top: 45% 
    padding: 20px 
    background: #000 
    border-radius: 40px 
    opacity: .4 
    cursor: pointer
    &:hover
      opacity: .6
.next-icon
  -moz-user-select: none 
  -khtml-user-select: none 
  -webkit-user-select: none 
  -o-user-select: none 
  display: block
  line-height: 50px
  width: 120px
  text-align: center
  background-color: rgba(0,0,0,0.7)
  border-radius: 100em
  position: fixed
  left: 50%
  margin-left: -60px
  font-size: 3em
  bottom: -100px
  color: #fff
  cursor: pointer
  text-decoration: none
  z-index: 3
.next-icon:active
  margin-bottom: -3px
@media only screen and (max-width: 40.063em)
  #theme-image
    img
      //
.clickable
  cursor: pointer
.main
  position: relative
  min-height: 100%
  width: 100%
  z-index: 2  
