// Colors
$green = #51c61e
$green1 = #67ff22
$green2 = #2c923a
$green3 = #2c923a

body.supl
  .section .page
    h1
      margin: 0
      padding: 0
      text-align: center
      font-size: 3em
      text-shadow: 2px 2px 0px $green
      color: #222
      font-family: 'Krungthep', 'Bank Gothic'
    p
      background-color: #FFF
      color: #444
      padding: 10px 20px
      box-shadow: 1px 0 2px rgba(0,0,0,0.4)
      line-height: 2em
      margin-bottom: 20px      
      a
        color: #222
        &:hover
          color: $green
    .introBubble
      color: white
      position: relative
      pointer-events: none
      .introBubble2
        position: relative
        background-color: rgba(0,0,0,0.8)
        padding: 75px
        border-radius: 100%
        width: 300px
        height: 300px
        margin: 0 auto
      h1
        font-size: 1.4em
        line-height: 1.4em
        border-bottom: 1px solid $green
        font-family: 'Krungthep', 'Bank Gothic'
        margin: 20px auto 10px auto
        position: relative
        padding-bottom: 10px
        color: #eee
        text-align: center
        text-shadow: none
      p
        background-color: transparent
        color: #ccc
        font-size: 0.9em
        line-height: 1.6em
        margin: 5px 0
        text-align: center
  @media only screen and (min-width: 40.063em)
    .section .page
      padding: 0 40px
  .aboutPage
    min-height: 800px
  .questions
    position: relative
    min-height: 400px
    font-size: 1.2em
    padding: 0 40px
    .question
      margin: 100px 0
  .bio
    position: relative
    font-size: 1.2em
  .supl-scroll
    top: 0
    bottom: 0
    position: absolute
    width: 100%
  .avatar
    border-radius: 100%
    border: 10px solid white
    max-height: 200px
    max-width: 200px
    margin: 0 auto
    position: relative
    display: block
  .byline
    display: block
    color: $green
    text-align: right
  .testiment
    margin: 40px 0    
