// Colors
$green = #51c61e
$green1 = #67ff22
$green2 = #2c923a
$green3 = #2c923a

.actionButton
  font-size: 120%
  line-height: 25px
  font-family: 'Krungthep'
  border-radius: 6px
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2), inset 0px 0px 3px rgba(255,255,255,1)
  text-align: center
  display: block
  text-decoration: none
  letter-spacing: 1px
  cursor: pointer
  border-width: 1px !important 
  border-type: solid 
  margin: 0 auto
  color: white
  padding: 20px
  outline: none
  align-items: flex-start
  -webkit-writing-mode: horizontal-tb
  &:active
    box-shadow: 0px 0px 0px rgba(0,0,0,0.2), inset 0px 0px 3px rgba(255,255,255,1)
    margin-top: 3px
    margin-bottom: -3px
.greenButton
  @extend .actionButton
  background: -moz-linear-gradient(top, $green1 0%, $green2)
  background: -webkit-gradient(linear, left top, left bottom, from($green1), to($green2))
  border-color: $green1
  text-shadow: -1px -1px 2px $green3, 0px 2px 7px $green1
.actionText
  display: block
  margin: 0 auto
  i
    font-size: 2em
    margin-right: 15px
    line-height: 2em
    vertical-align: middle
  span 
    vertical-align: middle
    font-size: 1.5em
    line-height: 2em
.greenText
  @extend .actionText
  i, span
    color: $green

body.portfolio, body.supl
  overflow: hidden
  font-family: 'Lato', Helvetica
  .contentContainer
    top: 0
    bottom: 0
    left: 0
    right: 0
    position: fixed
    z-index: 1
    overflow: hidden
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5)
  .style
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 1
    opacity: 0
    // background: url('/images/bgs/robot.jpg') top center
  .style.film
    background-color: rgba(0,0,0,0.85)
  .style.web
    background-color: rgba(255,255,255,0.2)
  .style.supl
    background-color: rgba(0,0,0,0.5)
  .scroll
    width: 100%
    top: 0px
    bottom: 0
    position: absolute
    .scrollContent
      position: absolute
      width: 100%
      top: 0
      background-repeat: repeat
  .half
    width: 100%
    height: 100%
    display: none
    position: absolute
    overflow: hidden
  .door
    cursor: pointer
    width: 100%
    position: absolute
  .hexagon
    position: absolute
    width: 300px
    height: 300px
    left: 50%
    top: 50%
    margin-top: -150px
    margin-left: -150px
    -webkit-transform: scale(.85)
    -moz-transform: scale(.85)
    -o-transform: scale(.85)
    -ms-transform: scale(.85)
    transform: scale(.85)
    -webkit-transform-style: preserve-3d
    transform-style: preserve-3d
    .hexagon-svg
      width: 300px
      height: 300px
  @media only screen and (min-width: 40.063em)
    .hexagon
      -webkit-transform: scale(1)
      -moz-transform: scale(1)
      -o-transform: scale(1)
      -ms-transform: scale(1)
      transform: scale(1)
    .contact
      display: block
      i
        transform: rotateZ(45deg)
        -webkit-transform: rotateZ(45deg)
        width: 50px
        font-size: 36px
        line-height: 50px
        text-align: center
        float: right
      .reachOut
        right: 50px
        position: absolute
        line-height: 50px
        font-size: 100%
        opacity: 1
  .section
    position: relative
    width: 100%
    margin-top: 50px
    display: none
  .page
    position: relative
    padding: 30px 90px 0px 90px
    top: 0
    left: 0
    min-height: 540px
  .row
    max-width: 1300px
  img
    width: 100%
  .theater
    position: relative
    opacity: 1
    width: 100%
    margin: 40px auto 90px auto
    .screen
      position: relative
      margin: 50px auto
      max-width: 900px
      video
        bottom: 0
        top: 0
      img
        position: relative
    .infoBox
      background: rgba(0,0,0,0.7)
      color: white
      box-shadow: none
    .playButton
      width: 100px
      height: 100px
      position: absolute
      z-index: 3
      top: 50%
      left: 50%
      display: table
      margin: -15% 0 0 -15%
      border-radius: 100%
      cursor: pointer
      i
        display: table-cell
        vertical-align: middle
        color: white
        font-size: 3em
        text-align: center
      i.pause
        
      &:hover
        background-color: rgba(0,0,0,0.4)
        i
          color: $green
  .imac
    position: relative
    width: 100%
    margin: 40px auto 90px auto
    opacity: 1
    .screen
      position: absolute
      left: 4%
      right: 4%
      top: 4.7%
      bottom: 26.7%
      overflow: hidden
      img
        opacity: 0
        position: absolute
        top: -1px
      :first-child
        opacity: 1
  .iphone
    position: relative
    width: 50%
    margin: 50px auto 50px auto
    opacity: 1
    max-width: 300px
    .screen
      position: absolute
      left: 9.4%
      right: 9.6%
      top: 14.6%
      bottom: 13.3%
      overflow: hidden
      img
        position: absolute
      :first-child
        opacity: 1
  .cards
    position: relative
    width: auto
    background-color: transparent
    &:first-child
      display: block
    .infoBox
      margin: 0px auto 0 auto
  .infoBox
    background-color: #FFF
    color: #444
    padding: 10px 20px
    width: 80%
    opacity: 1
    position: relative
    border-radius: 2px
    box-shadow: 1px 0 2px rgba(0,0,0,0.4)
    font-size: 120%
    line-height: 1.8em
  @media only screen and (max-width: 40.063em)
    .section
      padding: 0px 0px 20px 0px
      margin-top: 0
      .page
        padding: 0
        margin: 0 auto 40px auto
      .iphone
        //margin-top: -140px
      .cards
        margin-top: 0
        .infoBox
          margin-top: 0
      .callToAction
        padding: 40px 10px  
  @media only screen and (min-width: 40.063em)
    .section
      padding: 0px 0px 70px 0px
      margin-top: 0
      .page
        padding: 0
      .theater
        width: 100%
      .imac
        width: 100%
        margin: 5px auto 40px auto
      .iphone
        //margin-top: -140px
      .cards
        margin: 100px 0
        .infoBox
          line-height: 1.2em
      .callToAction
        padding: 80px 20px 200px 20px
  @media only screen and (min-width: 64.063em)
    .infoBox
      margin-top: 150px
  section.fixed
    position: fixed
    pointer-events: noneweb
    .page
      position: fixed
      pointer-events: none
  .paymentForm
    display: none
    position: relative
    min-height: 600px
    .cc-small input
      width: 30%
      margin-right: 3%
    .cc-small input:last-child
        margin-right: 0
  .thankYou
    display: none
    position: relative
    height: 630px
    .introText
      margin-top: -27px
      .hexagon-svg polygon
        fill: rgba(0,0,0,0.5)
  .contactForm
    position: relative
    min-height: 600px
    textarea
      min-height: 260px
    .payment
      display: block
    .paymentMade
      float: left
      display: none
      .paymentFinePrint
        font-size: 0.7em
        width: 200px       
        line-height: 1.1em
        a
          color: black
      .paymentInfo
        width: 200px       
        color: #444
        background-color: #FFF
        border: 1px solid #ddd
        padding: 13px
        outline: none
        margin-bottom: 5px
        text-align: right
        p
          font-size: 1em
        p.small
          font-size: 0.5em
          color: #ccc
        span
          line-height: 20px
      .ccard
        position: relative
        float: left
        height: 40px
        width: 64px
        background-image: url('/images/icons/ccards.png')
      .visa
        background-position: 0 -0px
      .mastercard
        background-position: 0 -40px
      .americanexpress
        background-position: 0 -80px
      .discover
        background-position: 0 -120px
  .law-hands
    background-image: url('/images/bgs/law-hands-bg.jpg')
    background-repeat: no-repeat
    background-position: top left
  .callToAction
    color: white
    padding: 60px
    border-top: 10px solid #ccc
    background-color: #333
    box-shadow: inset 0 0 100px black
    .resume
      display: block
      margin: 30px auto
    .paymentMade
      .paymentFinePrint
        font-size: 0.8em
        width: 200px       
        line-height: 1.2em
        a
          color: white
          text-decoration: underline
    hr
      border: 1px solid #ccc
      margin: 50px 0
    h1
      line-height: 1.2em
      margin: 0
    a
      text-decoration: none
      color: white
    p
      line-height: 1.6em
      text-align: justify
      a
        text-decoration: underline
        margin: 0 10px
        &:hover
          color: $green
    p.networks
      text-align: left
    p.license
      color: #ccc
      font-size: 0.5em
      a
        color: #ccc
        margin: 0
        text-decoration: none
      &:hover
        color: $white
      img
        width: auto
        float: left
        margin-right: 10px
  .introText
    position: absolute
    padding: 0 40px
    width: inherit
    height: inherit
    display: table
    .introText2    
      display: table-cell
      vertical-align: middle
    h1
      text-align: center
    p
      text-align: center
  @media only screen and (max-width: 40.063em)
    .callToAction
      padding: 40px 0
body.supl .style.supl, body.film .style.film, body.web .style.web
  opacity: 1

.introText
  color: white
  position: relative
  top: 13px
  .introText2
    position: relative
    margin: 0 auto
  h1
    font-size: 1.4em
    line-height: 1.4em
    border-bottom: 1px solid $green
    font-family: 'Krungthep', 'Bank Gothic'
    margin: 20px auto 10px auto
    position: relative
    padding-bottom: 10px
    text-align: center
  p
    font-size: 0.9em
    line-height: 1.6em
    margin: 5px 0
    text-align: center
    padding: 0 10px
    background-color: transparent
.visitSite
  top: 50%
  position: absolute
  left: 50%
  margin: -280px 0 0 -80px
  width: 160px
  &:active
    margin-top: -277px
@media only screen and (max-width: 40.063em)
  .visitSite
    margin-top: -190px
    &:active
      margin-top: -187px
