// Colors
$green = #51c61e
$green1 = #67ff22
$green2 = #2c923a
$green3 = #2c923a

.actionButton
  font-size: 120%
  font-family: 'Krungthep'
  border-radius: 6px
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2), inset 0px 0px 3px rgba(255,255,255,1)
  text-align: center
  display: block
  letter-spacing: 1px
  cursor: pointer
  border-width: 1px 
  border-type: solid 
  margin: 0 auto
  color: white
  padding: 20px
  outline: none
  &:active
    box-shadow: 0px 0px 0px rgba(0,0,0,0.2), inset 0px 0px 3px rgba(255,255,255,1)
    margin-top: 3px
    margin-bottom: -3px
.greenButton
  @extend .actionButton
  background: -moz-linear-gradient(top, $green1 0%, $green2)
  background: -webkit-gradient(linear, left top, left bottom, from($green1), to($green2))
  border-color: $green1
  text-shadow: -1px -1px 2px $green3, 0px 2px 7px $green1

body.web, body.supl
  overflow: hidden
  font-family: 'Lato', Helvetica
  .introCircle
    background: black
    border-radius: 100%
    top: 50%
    left: 50%
    position: absolute
    margin: -200px 0 0 -150px
    padding: 40px
    color: white
    width: 300px
    height: 300px
    display: table
    .introCircle2    
      display: table-cell
      vertical-align: middle
    h1
      text-align: center
  .brands
    position: absolute
    left: 410px
    overflow: hidden
    height: 90px
    right: 0
    .logo
      position: relative
      margin-top: 10px
      border-radius: 100%
      border: 5px #787878 solid
      opacity: 0
      width: 80px
      margin-left: 5px
      float: left
    .csf-logo
      margin-left: 0px
  @media only screen and (min-width: 40.063em)
    .brands
      right: 80px
  .contentContainer
    top: 0
    bottom: 0
    left: 0
    right: 0
    position: fixed
    z-index: 1
    overflow: hidden
  .style
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 1
    opacity: 0
  .style.film
    background-color: rgba(0,0,0,0.5)
  .style.web
    background-color: rgba(255,255,255,0.2)
  .style.supl
    background-color: rgba(0,0,0,0.5)
  .scrollContainer
    position: relative
    z-index: 0
    margin-top: 50px
    bottom: 0
    overflow-y: auto
    .scrollContent
      width: 100%
      position: absolute
      //background-image: url('/images/bgs/hex-bg.png')
      background-repeat: repeat
  .half
    width: 100%
    height: 100%
    display: none
    position: relative
  .door
    cursor: pointer
    position: relative
  .doorH
    height: 50%
    width: 100%
    position: absolute
    left: 0
  .knob
    position: absolute
    top: 50%
    left: 50%
    margin: -100px 0 0 -100px
    width: 200px
    height: 200px
    background-color: black
    border-radius: 100%
  .front
    display: block
    opacity: 1
    z-index: 1
    position: fixed
    bottom: auto
    top: 0
    width: 100%
    height: 100%
    .topDoor
      top: 0
      background-color: rgba(0,0,0,0.5)
      .label
        position: absolute
        color: white
        bottom: 0
        padding: 10px
        right: 50%
        margin-right: 100px
    .bottomDoor
      bottom: 0
      background-color: rgba(255,255,255,0.2)
      .label
        position: absolute
        left: 50%
        margin-left: 100px
        top: 0
        padding: 10px
        color: black
    @media only screen and (max-width: 64.063em)
      .topDoor
        .label
          width: 100%
          bottom: 120px
          right: auto
          text-align: center
          margin-right: 0
      .bottomDoor
        .label
          width: 100%
          top: 120px
          left: auto
          text-align: center
          margin-left: 0
    .initials
      @extend body.web .knob
      background-color: transparent
      font-family: 'Krungthep', 'Bank Gothic'
      font-size: 100px
      color: white
      line-height: 200px
      text-align: center
      width: 200px
      border-radius: 0
      overflow: hidden
      span
        display: inline-block
      span.name
        width: 0
        overflow: hidden
      span.nameL
        width: 60px
      span.nameW
        width: 100px
    @media only screen and (max-width: 64.063em)
      .initials
        //
  .contact
    position: absolute
    width: 150px
    height: 50px
    right: 70%
    opacity: 0
    left: auto
    color: #ccc
    cursor: pointer
    display: none
    &:hover
      color: $green
  @media only screen and (min-width: 40.063em)
    .contact
      display: block
      i
        transform: rotateZ(45deg)
        -webkit-transform: rotateZ(45deg)
        width: 50px
        font-size: 36px
        line-height: 50px
        text-align: center
        float: right
      .reachOut
        right: 50px
        position: absolute
        line-height: 50px
        font-size: 100%
        opacity: 0
  .section
    position: relative
    width: 100%
    margin-top: 50px
    display: none
  .page
    position: relative
    padding: 30px 90px 0px 90px
    top: 0
    left: 0
    min-height: 720px
  .row
    max-width: 1300px
  img
    width: 100%
  .poster
    position: relative
    width: 80%
    margin: 40px auto 90px auto
    opacity: 1
    .playButton
      width: 100px
      height: 100px
      position: absolute
      z-index: 3
      top: 50%
      left: 50%
      display: table
      margin: -15% 0 0 -15%
      border-radius: 100%
      cursor: pointer
      i
        display: table-cell
        vertical-align: middle
        color: white
        font-size: 3em
        text-align: center
      i.pause
        
      &:hover
        background-color: rgba(0,0,0,0.4)
        i
          color: $green
    .screen
      position: relative
      img
        position: relative
  .imac
    position: relative
    width: 100%
    margin: 40px auto 90px auto
    opacity: 1
    .screen
      position: absolute
      left: 3%
      right: 3%
      top: 4%
      bottom: 26.7%
      overflow: hidden
      img
        opacity: 0
        position: absolute
        top: -1px
      :first-child
        opacity: 1
  .iphone
    position: relative
    width: 50%
    margin: 40px auto 90px auto
    opacity: 1
    .screen
      position: absolute
      left: 3%
      right: 3%
      top: 4%
      bottom: 26.7%
      overflow: hidden
      img
        opacity: 0
        position: absolute
        top: -1px
      :first-child
        opacity: 1
  .cards
    position: relative
    width: auto
    background-color: transparent
    &:first-child
      display: block
    .infoBox
      margin: 150px auto 0 auto
  .infoBox
    background-color: #FFF
    color: #444
    padding: 10px 20px
    width: 80%
    opacity: 1
    position: relative
    border-radius: 2px
    box-shadow: 1px 0 2px rgba(0,0,0,0.4)
    font-size: 120%
    line-height: 1.8em
  @media only screen and (max-width: 64.063em)
    .section
      padding: 0px 0px 10px 0px
      margin-top: 0
      .page
        padding: 0
      .imac
        width: 80%
        margin: 0 auto 40px auto
      .iphone
        margin-top: -140px
      .cards
        margin-top: 0
        .infoBox
          margin-top: 0
      .callToAction
        padding-top: 30px  
  @media only screen and (min-width: 64.063em)
    .section
      padding: 0px 0px 10px 0px
      margin-top: 0
      .page
        padding: 0
      .poster
        width: 100%
      .imac
        width: 100%
        margin: 5px auto 40px auto
      .iphone
        margin-top: -140px
      .cards
        margin-top: 80%
        .infoBox
          line-height: 1.2em
      .callToAction
        padding: 80px 4px 200px 4px
  section.fixed
    position: fixed
    pointer-events: noneweb
    .page
      position: fixed
      pointer-events: none
  .paymentForm
    display: none
    position: relative
  .contactForm
    position: relative
  .callToAction
    background-color: #333
    box-shadow: inset 0 0 100px black
  .law-hands
    background-image: url('/images/bgs/law-hands-bg.jpg')
    background-repeat: no-repeat
    background-position: top left
  .callToAction
    color: white
    padding: 60px
    border-top: 10px solid #ccc
    hr
      border: 1px solid #ccc
      margin: 50px 0
    h1
      line-height: 1.2em
      margin: 0
    a
      text-decoration: none
      color: white
    p
      line-height: 1.6em
      text-align: justify
      a
        text-decoration: underline
        margin: 0 10px
        &:hover
          color: $green
    p.license
      color: #ccc
      font-size: 0.5em
      a
        color: #ccc
        margin: 0
        text-decoration: none
      &:hover
        color: $white
      img
        width: auto
        float: left
        margin-right: 10px
body.supl .style.supl, body.film .style.film, body.web .style.web
  opacity: 1

.aboutPage
  min-height: 800px

.introBubble
  color: white
  position: relative
  margin: 860px 0 660px 0
  pointer-events: none
  .introBubble2
    position: relative
    background-color: rgba(0,0,0,0.8)
    padding: 75px
    border-radius: 1000em
    width: 300px
    height: 300px
    margin: 0 auto
  h1
    font-size: 1.4em
    line-height: 1.4em
    border-bottom: 1px solid $green
    font-family: 'Krungthep', 'Bank Gothic'
    margin: 20px auto 10px auto
    position: relative
    padding-bottom: 10px
    text-align: center
  p
    font-size: 0.9em
    line-height: 1.6em
    margin: 5px 0
    text-align: center

.questions
  position: relative
  min-height: 400px
  font-size: 1.2em
  .question
    margin: 100px 0
    h1
      margin: 0
      padding: 0
      text-align: center
      font-size: 3em
      text-shadow: 2px 2px 0px $green
      color: #222
      font-family: 'Krungthep', 'Bank Gothic'
    .answer
      background-color: #FFF
      color: #444
      padding: 10px 20px
      box-shadow: 1px 0 2px rgba(0,0,0,0.4)
      a
        color: #222
        &:hover
          color: $green
      p
        line-height: 2em
        margin-bottom: 20px      
.bio
  @extend .questions .question .answer
  position: relative
  font-size: 1.2em
