extends ../supLayout
block content
  include ../shared/nav
  .contentContainer
    include ../shared/contactModal
    include ../shared/header
    include ../shared/bg
    .main
      .half.supl('data-section'="about")
        .supl-scroll
          .scrollContent
            section.section.clearfix.about
              .page.intro
                .circle
                  .rotation
                    .heads
                      .initials 
                        span.nameL.name L&nbsp;
                        span.nameW.name W
                    .tails
                      .introCircle.introBubble
                        .introCircle2
                          h1 About Law
              .aboutPage.page
                .row
                  .column.small-12.medium-4
                    img(src="/images/avatars/law.jpg")
                  .column.small-12.medium-8
                    .bio
                      p
                        | I graduated NYU Tisch with a degree in Filmamking in 2002.  Worked for the next 5 years in television
                        | production in New York.  Moved to L.A. for a couple of years, banks collapsed.  Worked as a freelance web
                        | developer since 2006.  Mostly in Rails and frontend javascript frameworks.  I have made many films since
                        | graduation, some of which are on display here.  Others no one should ever have to see.  I've been a photographer
                        | as well for many years though it has always been supplimental to my video work.
                      p
                        | I am passionate about creating thought provoking work in the video, photography and web forms.  
                        | I consider myself an artist and a tireless advocate for artists.  I hope to use my work to express 
                        | the important issues of our time.  To provide the world with the inspiration to rise to their own 
                        | personal & professional occasions.  I've co-founded 4 web start-ups and been a part of many more in the 8 years
                        | it has been my pleasure to work in the most innovative industry in the world. 
                      p
                        | With the help of my friends, I've nurtured a filmmaker's collective in Portland, Oregon.  It's 
                        | called Cinema Set Free.  Together we're exploring the entrepreneurial path that filmmakers can 
                        | take to make their living telling their stories.  We host monthly meetups and present about indie filmmaking topics
                        | we find important.
                      p
                        | I enjoy ballroom dancing, live theatre and buffalo wings.  I have a fucking beard.  Go figure. 
                      p
                        | I created this portfolio during a very unemployed time in my life.  It is a reflection of my past, but
                        | it is also an example of me working in the cutting edge of technologies I love.
            include ../shared/contactPage
