extends ../supLayout
block content
  include ../shared/nav
  .contentContainer
    include ../shared/contactModal
    include ../shared/header
    include ../shared/bg
    .main.scrollContainer
      .scrollContent
        .half.supl('data-section'="about")
            section.section.clearfix.about
              .page.intro
                .introBubble.introCircle
                  h1 About Lawrence
                .bio.infoBox
                  p 
                    | I am passionate about creating thought provoking work in the video, photography and web forms.  I consider myself an artist, a tireless advocate for artists and a nurturer of their growth.  I hope to use my work to express the important issues of our time.  To provide the world with the inspiration to rise to their own professional occasion.  I've created a filmmaker's collective with friends of mine in Portland, Oregon.  It's called Cinema Set Free.  Together we're exploring the entrepreneurial path that filmmakers can take to make their living telling their stories.
                    | Over the last 10 years of professional film/television and web startup work, I have been involved in many projects I loved.  I created this portfolio as a look at them, at a very unemployed time in my life.  
                    | It's working tho, I'm making money once again, doing what I love, everyday.  If you have a desire to work together, or just discuss the cutting edge of any of this, please contact me.  I want to hear about it.
