extends ../supLayout
block content
  include ../shared/nav
  .contentContainer
    include ../shared/contactModal
    include ../shared/header
    include ../shared/bg
    .main
      .half.supl('data-section'="faq")
        .supl-scroll
          .scrollContent
            include faqQuestions
            - heading = 'Do you have a question?'
            include ../shared/contactPage
            include ../shared/scroll
