doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    != css('site')
    != css('poster')
    != css('interaction')
    != css('video-js')
    != css('nav')
    != css('foundation-icons')
    != css('foundation')
    != css('ionicon.min')
  body.site('data-video' = 'off')
    block content
    script(type="text/javascript", src="https://js.stripe.com/v2/")
    script(data-main="js/main", src="/components/requirejs/require.js")
