doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    != css('site')
    != css('poster')
    != css('interaction')
    != css('video-js')
    != css('nav')
    != css('foundation-icons')
    != css('foundation')
    != css('ionicon.min')
  body.site('data-video' = 'off')
    block content
    != js('lib/jquery-1.9.1')    
    != js('lib/can.custom')
    != js('lib/modernizr')    
    != js('lib/iscroll-probe')
    != js('lib/fastclick')
    != js('lib/TweenMax')
    != js('lib/jquery.scrollmagic')
    //!= js('lib/jquery.scrollmagic.debug')
    != js('lib/video.dev')
    != js('models/contact.js')
    != js('controls/app.js')
    != js('controls/nav.js')
    != js('controls/section.js')
    != js('controls/bg.js')
    != js('controls/scroll.js')
    //!= js('controls/robot.js')
