doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title= title
    != css('foundation-icons')
    != css('animate')    
    != css('foundation')
    != css('ionicon.min')
    != css('site')    
    != css('modal')    
    != css('interaction')
    != css('nav')
    != css('web')
    link(href="/css/videojs.css", rel='stylesheet', type='text/css')
  body.web('data-video' = 'off')
    block content
    script(type="text/javascript", src="https://js.stripe.com/v2/")
    script(data-main="js/main", src="/components/requirejs/require.js")
