doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title= title
    != css('foundation-icons')
    != css('animate')    
    != css('foundation')
    != css('ionicon.min')
    != css('site')    
    != css('modal')    
    != css('interaction')
    != css('nav')
    != css('web')
    //link(href='http://fonts.googleapis.com/css?family=Lato:300', rel='stylesheet', type='text/css')
  body.web('data-video' = 'off')
    block content
    != js('lib/jquery-1.9.1')    
    != js('lib/can.custom')
    != js('lib/modernizr')    
    != js('lib/fastclick')
    //!= js('lib/wow')
    != js('lib/TweenMax')
    //!= js('lib/jquery.scrollmagic')
    //!= js('lib/jquery.scrollmagic.debug')
    != js('lib/video.dev')
    //!= js('lib/iscroll-probe')    
    != js('controls/app')
    != js('models/payment')
    != js('models/contact')
    != js('controls/scroll3')
    != js('controls/presenter')
    != js('controls/nav')
    != js('controls/modals')
    != js('controls/iphone')
    != js('controls/section')
    != js('controls/contact')    
    != js('controls/bg')
