.bg
  #theme-color
  #theme-style
    .style.web
    .style.film
  #theme-image
    each article, i in articleData
      img(id="bg-#{article.slug}", src="/images/bgs/#{article.bgImageURL}")
  #theme-video.bigVideo
    .wrapper
      //video#bigScreen.screen.video-js.vjs-default-skin(src="/videos/first.mp4", poster="/images/first.jpeg")
