.contactForm.form
  h1 Contact Me.
  form(action="/contact")
    .input
      input(name="name", type="text", placeholder="Your Name")
      .error 
        span So I know what you call you.
    .input
      input(name="email", type="email", placeholder="E-Mail Address")
      .error 
        span So I know where to reach you.
    .input
      textarea(name="message", placeholder="What's your project?")
    .buttons.row.collapse
      .column.small-12
        button.payment.actionButton.greenButton.left Add Payment
        button.send.actionButton.greenButton.right Send
.paymentForm.form
  h1 Pay Me.
  form(action="/contact")
    .input
      input(name="amount", type="text", placeholder="Amount")
      .error 
        span What would you like me to charge?
    .input
      input(name="card_number", type="text", placeholder="Credit Card Number")
      .error 
        span You're paying with a card, right?
    .row
      .column.small-6
        .input
          input(name="data", placeholder="MM/YY")
      .column.small-6
        .input
          input(name="csv", placeholder="CVC")
    .buttons.row.collapse
      .column.small-12
        button.cancel.actionButton.greenButton.left Cancel
        button.confirm.actionButton.greenButton.right Confirm
