section.front
  .doorH.topDoor.door
    .label Filmmaker
  .doorH.bottomDoor.door
    .label Web Artitect
  .knob
  .initials 
    span.nameL.name Lawrence&nbsp;
    span.nameW.name Whiteside
  .contact
    span.reachOut.hide-for-medium-down.
      Contact Me
    i.ion-paper-airplane
  .brands
    .csf-logo.logo
      img(src="/images/logo-circles/csf.png")
    .fantrotter-logo.logo
      img(src="/images/logo-circles/fantrotter.png")
    .spins-logo.logo
      img(src="/images/logo-circles/spins.png")
    .fads-logo.logo
      img(src="/images/logo-circles/fads.png")
