section.front
  .doorH.topDoor.door
    .label Filmmaker
  .doorH.bottomDoor.door
    .label Web Artitect
  .knob
  .initials 
    span.nameL.name Lawrence&nbsp;
    span.nameW.name Whiteside
  .contact
    span.reachOut
      .show-for-small-only.
        Small
      .show-for-medium-only.
        Medium
      .show-for-large-only.
        Large
      .show-for-xlarge-only.
        X-Large
    i.ion-paper-airplane
  .brands
    each section, x in sections.web
      if section.logo
        a.logo(href='#!web/'+section.slug, class="#{section.logo}-logo")
          img(src="/images/logo-circles/#{section.logo}.png")
