section.front
  .doorH.topDoor.door
    .label Filmmaker
  .doorH.bottomDoor.door
    .label Web Artitect
  .knob
  .initials 
    span.nameL.name Lawrence&nbsp;
    span.nameW.name Whiteside
  .contact
    span.reachOut.
      Contact Me
    i.ion-paper-airplane
