.mobile-menu.clickable
	i.ion-navicon
.nav.nav-mobile
	.nav-items.list-vertical
		a.item.clickable(href="#!web") Web Artecture
		a.item.clickable(href="#!film") Filmmaking
		a.item.clickable(href="#!speaking") Writing
		a.item.clickable(href="#!speaking") Speaking
		a.item.clickable(href="#!contact") Contact Me
