.theater(data-theater-poster="#{page.theater.poster}", data-theater-video="#{page.theater.video}")
  .row
    .column.small-12.large-8.large-push-4
      .screen
    .column.small-12.large-4.large-pull-8
      .cards
        .infoBox
          if page.icon
            .icon
              i(class=page.icon)
          if page.cards
            each card in page.cards
              p #{card}
