script(type="text/ejs", id="video-player")
  video.vjs-default-skin.video-js(poster="/images/stills/{{ project }}/{{ poster }}", width="100%", height="100%")
    source(src="http://lawwantsin.s3.amazonaws.com/web-portfolio/films/{{ video }}.mp4", type='video/mp4')
    source(src="http://lawwantsin.s3.amazonaws.com/web-portfolio/films/{{ video }}.webm", type='video/webm')
    source(src="http://lawwantsin.s3.amazonaws.com/web-portfolio/films/{{ video }}.ogv", type='video/ogg')
